<embed name="myMusic" loop="true" hidden="true" src="starwars.mp3"></embed>
<h1>GAME</br>OVER</h1>

<style type="text/css">
body {
  color: black;
  font-size: 200px;
  font-style: italic;
  font-family: helvetica;
  background-image: ;
  background-color: #DBDBDB }


</style>
