
<audio controls autoplay>
  <source src="public/starwars.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<form action="/names" method="post">
  <input type="text" name="player_one_name"/>
  <input type="text" name="player_two_name"/>
  <input type="submit" value="Submit"/>
</form>
