<%= $player_one.name %> vs <%= $player_two.name %>
<div class="hit-points">
  <%= $player_two.name %>: 60/60 HP
</div>
<form method="post" action="/attack">
  <button type="submit" name="attack" value="true">Attack</button>
</form>
<%= 'You attacked player 2' if $attack  %>
